.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Esto centra el contenido verticalmente */
}

.wrapper {

    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 2500px; /* Ajusta el ancho del contenedor */
    height: 500px;

}

.bg-white {
    background-color: #fff;
}

.h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Añade un margen inferior */
}

.text-center {
    text-align: center;
}

.form-group {
    margin-bottom: 30px; /* Aumenta el espacio entre los grupos de formulario */
}

.input-field {

    padding: 10px;
    border-radius: 5px;
}

.DataTable th:first-child,
.DataTable td:first-child {
    border-left: 2px solid yellow; /* Añade un borde izquierdo amarillo */
}

.DataTable th,
.DataTable td {
    margin-bottom: 5px;
    padding: 10px;
}

.DataTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.DataTable td {
    text-align: center;
}

/* Estilos para el contenedor de los botones */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
}

/* Estilos para los botones */
.btn {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #00ff1e;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Espacio entre los botones */
}

.btn:hover {
    background-color: #f3fb18;
}
