
.titulo{
    font-family: airelon;
    font-size: 31px;
    text-align: center;
    padding: 20px;
}


/*
.font-serif {
    font-family: serif;
}

.text-31 {
    font-size: 31px;
}

.text-center {
    text-align: center;
}

.p-20 {
    padding: 20px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.mb-8 {
    margin-bottom: 8px;
}

.mr-4 {
    margin-right: 1rem;
}

.ml-20 {
    margin-left: 1.25rem; 
}

.block {
    display: block;
}

.border {
    border-width: 1px;
    border-style: solid;
    border-radius: 0.375rem; 
}

.rounded-md {
    border-radius: 0.375rem; 
}

.w-full {
    width: 100%;
}

.px-4 {
    padding-left: 1rem; 
    padding-right: 1rem; 
}

.py-2 {
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 

*/
